* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
}
.menuDiv-header, .menuDiv-li a {
    font-family: 'Montserrat-Medium';
}

.header {
    display: flex;
    padding: 20px 20px 16px 20px;
}
nav span.line {
    height: 3px;
    background-color: #2770DE;
    display: block;
    margin-bottom: 4px;
}
nav .line:first-child {
    width: 28px;
}
nav .line:nth-child(2) {
    width: 22px;
    transition: 0.5s;
    
}
nav .line:last-child {
    width: 18px;
   height: 3px;
   transition: 0.5s;
}
.nav {
    cursor: pointer;
    margin-right: 10px;
}
.nav:hover .line:nth-child(2){
        width: 28px;
    }
.nav:hover .line:last-child{
        width: 28px;
    }
    .menuDiv {
        position: absolute;
        top: 0;
        width: 100vw;
        height: 100vh;
        left: -100%;
        background: #fff;
        transition: .5s;
    }
  .show {        
        left: 0;     
    }
.menuDiv-wrapper {
    padding: 20px 8px 25px;
}
.menuDiv-header {
    font-size: 16px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    padding-left: 20px;
}
.menuDiv-header--title {
    padding-left: 40px;
}
.menuDiv-li a {
    display: flex;
    align-items: center;
    border-radius: 4px;
    height: 48px;
    padding: 0 20px;
    font-size: 14px;
    color: #374761;
    transition: .5s;
}
.menuDiv-li a:hover{
    background: #DFE1E5;
}
.menuDiv-icon {
    margin-right: 40px;
}
.menuDiv-li a:hover svg path {
    fill: rgb(39, 112, 222);  
      transition: .5s;
}

.fb {
    padding-left: 20px;
}
section.leftSide {

    width: calc(100% - 94%);

}
nav {
    display: flex;
}
main {
    padding-left: 80px;
}
@media (max-width: 1199.98px) { 
.logo {
    display: none;
}
section.main {
    display: flex;
    padding: 20px;
    align-items: center;
}
}



@media (min-width: 1200px) { 
    section.leftSide {
        position: absolute;
        width: calc(100% - 94%);
        overflow: hidden;
        left: 0;
        height: 100%;
    }
    .menuDiv-icon::before {
        content: "";
        position: absolute;
        width: 4px;
        top: 25%;
        left: -25px;
        height: 32px;
        background: white;
        border-radius: 4px;
        transition: .5s;
        visibility: hidden;
    }

    .menuDiv-li a {
        padding: 0 28px;
        position: relative;
        height: 70px;
    }
    .menuDiv-li a:hover svg path {
        fill: #fff;
    }
    .menuDiv-li a:hover  .menuDiv-icon::before {
       left: 5px;
       visibility: visible;
    }
    .menuDiv-li a:hover {
        background: inherit;
    }
  
    .menuDiv {
        background-color: #2D62ED;
        width: 82px;
        left: 0;
    }
    .logo {
        display: flex;
        justify-content: center;
        margin-bottom: 30px;
    }
    .menuDiv-wrapper {
        padding: 0;
    }
    .menuDiv-header {
        display: none;
    }
    .nav {
        display: none;
    }
 }